{% extends 'shared/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/all-destinations.css' %}">
{% endblock %}


{% block site_content %}
    <form method="get" action="{% url 'destinations' %}">
        {{ filter_form }}
        {% csrf_token %}
        <button class="btn">Filter</button>
    </form>
    <h1>All Destinations</h1>
    <div class="mainContent">
        <ul>
            {% for dest in destinations %}
                <li>
                    <div class="relatedChild">
                        <div class="relatefLeft">
                            <img src="{{ dest.image.url }}" alt="photo of {{ dest.destination }}">
                        </div>
                        <div class="relatedRight">
                            <h3>{{ dest.title }}</h3>
                            <p>By: <a
                                    href="{% url 'profile' dest.current_user.user_id %}">{{ dest.current_user.user.username }}</a>
                            </p>
                            <p>From: {{ dest.destination }}</p>
                            <p>{{ dest.description|truncatewords:30 }}</p>
                            <a class="btn" href="{% url 'description and comment' dest.id %}">
                                Read more
                            </a>
                            {% if user.is_superuser %}
                                <br>
                                <div class="btn_for_superuser">
                                    <a class="edit-green" href="{% url 'edit' dest.pk %}">Edit</a>
                                    <a class="delete-red" href="{% url 'delete' dest.pk %}">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                </li>
            {% endfor %}

        </ul>
    </div>

{% endblock %}