{% extends 'shared/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block site_content %}
    <div class="include-pic">


        <div class="content">
            <h1 class="moto">A place where you can escape<br> from the reality</h1>
            <p>Share your best moments with us</p>

        </div>
        <div class="rotate-text">
            <a href="#">Contacts</a>

        </div>


    </div>


{% endblock %}
