{% extends 'shared/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block site_content %}
    <div class="include-pic">


        <div class="content">
            <h1 class="moto">A place where you can escape<br> from the reality</h1>
            <p>Share your best moments with us</p>
            <p>Don't have an account?

        </div>
        <a href="#" class="btn">Sign up</a></p>


        <div class="rotate-text">
            <a href="#">Sign in</a>
            <a href="#">Sign up</a>
            <a href="#">Contacts</a>

        </div>
    </div>


{% endblock %}
