<div class="navbar">
    {% if user.is_authenticated %}
        <a href="{% url 'home page logged' %}"><img src="/static/logo.png" class="logo"></a>
    {% else %}
        <a href="{% url 'home page' %}"><img src="/static/logo.png" class="logo"></a>
    {% endif %}
    <nav>
        <ul>
            <li><a href="{% url 'destinations' %}">All Destinations</a></li>
            <li><a href="{% url 'add' %}">Add Destinations</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' user.id %}">{{ user.username }}</a></li>
                <li><a href="{% url 'signout' %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
        </ul>

    </nav>
</div>
